.rating-tabs-content__item.active,
.server-content-right__item.active,
aside,
footer,
header,
img,
nav {
  display: block;
}
.last::after,
.rating::after,
.server::after {
  bottom: 0;
  right: 0;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
}
.last-content-slider__sub,
.last-content-slider__text,
.main-bottom-step-item__text,
.pre-title,
.preview__sub,
.preview__text,
.preview__title,
.scrit__title--last,
.text,
.title {
  text-align: center;
}
@font-face {
  font-family: Constantine;
  src: url("../fonts/Constantine.eot");
  src: url("../fonts/Constantine.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Constantine.woff2") format("woff2"),
    url("../fonts/Constantine.woff") format("woff"),
    url("../fonts/Constantine.ttf") format("truetype"),
    url("../fonts/Constantine.svg#Constantine") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Constantine;
  src: url("../fonts/Constantine-Bold.eot");
  src: url("../fonts/Constantine-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Constantine-Bold.woff2") format("woff2"),
    url("../fonts/Constantine-Bold.woff") format("woff"),
    url("../fonts/Constantine-Bold.ttf") format("truetype"),
    url("../fonts/Constantine-Bold.svg#Constantine-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.ttf") format("truetype"),
    url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Intro;
  src: url("../fonts/IntroRegularAlt.eot");
  src: url("../fonts/IntroRegularAlt.eot?#iefix") format("embedded-opentype"),
    url("../fonts/IntroRegularAlt.woff2") format("woff2"),
    url("../fonts/IntroRegularAlt.woff") format("woff"),
    url("../fonts/IntroRegularAlt.ttf") format("truetype"),
    url("../fonts/IntroRegularAlt.svg#IntroRegularAlt") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input::placeholder {
  transition: 250ms;
}
input:focus::placeholder {
  opacity: 0;
}
body,
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: Constantine, sans-serif;
  font-weight: 400;
  background: #131a1d;
  color: #fff;
  scroll-behavior: smooth;
}
body {
  height: fit-content;
  width: 100%;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}
.container,
.main {
  margin: 0 auto;
  position: relative;
  width: 100%;
}
:focus,
a:active :active,
a:focus {
  outline: 0;
}
button,
input,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
.last-content-slider-steam-play,
.last-content-stream-btn,
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
img {
  vertical-align: top;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container {
  max-width: 1460px;
  padding: 0 30px;
  z-index: 1;
}
header .container {
  max-width: 1860px;
}
header {
  position: relative;
  z-index: 2;
  padding: 15px 0;
}
.header-lang-top__angle,
.last-content-slider .owl-nav button {
  transition: 0.3s;
}
.header-lang.active .header-lang-top__angle {
  transform: rotate(180deg);
}
.header-lang__dropdown {
  border-radius: 5px;
  backdrop-filter: blur(3px);
  background: #07131e8c;
  padding: 15px;
  display: flex;
  gap: 15px;
  left: -15px;
  flex-direction: column;
}
.main-top {
  background: url(../img/main-top-back.jpg) top center/cover no-repeat;
}
.header-lang.active .header-lang__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(18px);
  left: -15px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header-logo img {
  max-width: 50px;
  width: 100%;
}
.header-lang-dropdown__item {
  cursor: pointer;
  gap: 12px;
  display: flex;
  color: #fff;
  align-items: center;
}
.main {
  max-width: 2600px;
}
.header__back,
.last-content-slider .owl-dots,
.last-content:last-child,
.main-download .main-countdown,
.main-download .main-online,
.owl-nav,
.preview .main-countdown,
.rating-tabs-content__item,
.server-content-right__item {
  display: none;
}
.last,
.rating {
  margin: -200px 0;
  padding: 200px 0;
  position: relative;
}
.last::after,
.rating::after {
  width: 100%;
  position: absolute;
  background: url(../img/last-back.jpg) top center/cover no-repeat;
  -webkit-mask-box-image: linear-gradient(
    to top,
    transparent 0%,
    white 200px,
    white calc(100% - 200px),
    transparent 100%
  );
}
.rating::after {
  background: url(../img/rating-back.jpg) center center/cover no-repeat;
}
.main-bottom {
  background: url(../img/main-bottom-back.jpg) center center/cover no-repeat;
}
.server {
  margin: -90px 0;
  padding: 90px 0;
  position: relative;
}
.server::after {
  width: 100%;
  position: absolute;
  background: url(../img/last-back.jpg) top center/cover no-repeat;
  -webkit-mask-box-image: linear-gradient(
    to top,
    transparent 0%,
    white 90px,
    white calc(100% - 90px),
    transparent 100%
  );
}
.server__wrapper {
  padding-bottom: 90px;
}
.bonus-item,
.bonus-item img,
.header-lang-dropdown__item,
.header-lang__top,
.header-logo,
.support-items__item {
  transition: 250ms;
}
.header-logo:hover {
  transform: scale(1.1);
}
.btn-transp__back img {
  width: 190px;
}
.rtcit__item {
  font-size: 20px;
}
.rating-tabs-content-item__top {
  display: flex;
  align-items: center;
  padding: 55px 0;
}
.header-aside {
  display: flex;
  align-items: center;
  gap: 28px;
}
.rtcit__item:first-child {
  width: 115px;
  padding-left: 40px;
}
.rtcit__item:nth-child(2) {
  width: 385px;
}
.rtcit__item:nth-child(3) {
  width: 315px;
}
.rating-tabs-content-item__bottom--item {
  display: flex;
}
.rating-tabs-content-item__top .rtcit__item {
  color: #f4d398;
}
.title-line {
  margin-bottom: 57px;
  text-wrap: nowrap;
}
.server-content-left {
  display: flex;
  flex-wrap: wrap;
  width: 680px;
  flex: 0 0 auto;
}
.server-content-left-item-text__title {
  color: #eee4d9;
  margin-bottom: 10px;
  font-size: 18px;
}
.header .container {
  position: relative;
}
.gw-timer {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 25px;
}
.gw-timer__amount {
  font-weight: 700;
  font-size: 35px;
}
.main-social {
  position: absolute;
  top: 350px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 5;
  border-radius: 100px;
}
.gw-timer__item,
.main-social-item {
  justify-content: center;
  display: flex;
}
.main-social-item__icon {
  position: absolute;
  transition: 0.3s;
}
.main-social-item:hover {
  background: #c7b37729;
  filter: brightness(1.3);
}
.main-social-item:hover .main-social-item__icon {
  transform: scale(1.2);
}
.main-social-item {
  border-radius: 100px;
  align-items: center;
  transition: 0.3s;
}
.gw-timer__item {
  background: url(../img/count-item-back.png) center center/contain no-repeat;
  width: 98px;
  height: 98px;
  align-items: center;
  flex-direction: column;
}
.server-content-left__item {
  width: 50%;
  height: 150px;
  justify-content: center;
  cursor: pointer;
  position: relative;
  align-items: center;
  gap: 20px;
}
.server-content-left-item__online {
  background: #00c855;
  width: 4px;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 4px;
  box-shadow: 0 0 10px 5px #00c85582;
  border-radius: 10px;
}
.main-countdown__text {
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  justify-content: center;
}
.rating .btn-transp__text,
.scrili__text {
  font-size: 14px;
}
.main-countdown {
  position: absolute;
  top: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.last .last__title .btn-transp__text,
.server-content-right-item__top {
  align-items: center;
  display: flex;
}
.scrili__text {
  color: #fff;
}
.scrili__info {
  font-size: 17px;
  color: #ffc24c;
}
.scrit__title {
  font-weight: 700;
  font-size: 33px;
}
.server-content-right-item-list__item {
  display: flex;
  gap: 10px;
}
.server .btn-transp {
  width: fit-content;
}
.server-content-left {
  position: relative;
}
.last-content-left__slider {
  height: 480px;
  position: relative;
}
.last .last__title,
.last-content-left__slider .owl-stage,
.owl-stage {
  display: flex;
}
.last-content-left__slider .owl-dots {
  position: absolute;
  right: 70px;
  display: flex;
  gap: 15px;
  bottom: 60px;
}
.last-content-slider-item__img {
  width: 100%;
  height: 170px;
  position: relative;
}
.last-content-slider-item__img img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  transition: 0.25s;
}
.last-content-slider__sub {
  font-size: 16px;
  margin-top: 30px;
}
.last-content-slider .owl-nav button.disabled {
  opacity: 0.4;
}
.last .last__title .btn-transp__back img {
  width: 220px;
}
.last-btn-box {
  margin-left: 30px;
  cursor: pointer;
}
.last-content-slider {
  position: relative;
}
.last .title-line {
  width: 100%;
  margin-bottom: 0;
}
.subtitle__last {
  color: #dad0a4;
  font-size: 20px;
  margin-bottom: 13px;
}
.last__title {
  margin-bottom: 57px;
}
.last-content-slider::after {
  content: "";
  height: 400px;
  width: 2px;
  position: absolute;
  top: 18px;
  right: 0;
  background: #e0c397;
  display: block;
}
.last-content-slider::before {
  content: "";
  height: 2px;
  width: 15px;
  position: absolute;
  top: 416px;
  right: 0;
  background: #e0c397;
  display: block;
}
.last-content-slider__item {
  width: 255px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  justify-content: center;
}
.header-right {
  display: flex;
  justify-content: flex-end;
}
.last-content-left__slider .owl-dots button.active {
  background: #e0c397;
}
.last-content-left-slider__item {
  position: relative;
  overflow: hidden;
  height: 470px;
}
.last-content-left-slider__item::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #202f56eb 30%, transparent);
  position: absolute;
  top: 0;
  left: 0;
}
.main-social-item__back {
  transition: transform 0.5s;
}
@keyframes rotate {
  from {
    transform: rotate(0) scale(1.1);
  }
  to {
    transform: rotate(360deg) scale(1.1);
  }
}
.header-mobile::after {
  content: "";
  backdrop-filter: blur(9px);
  background: rgb(0 0 0 / 70%);
  position: absolute;
  width: calc(100% + 60px);
  height: 400%;
  left: -30px;
  bottom: -27px;
}
.header-lang__dropdown {
  border: 1px solid transparent;
}
.header.active .header-lang__dropdown {
  background: #0b1419;
  border: 1px solid #9a894f;
}
.header-lang-top__flag,
.server-content {
  border-radius: 5px;
  overflow: hidden;
}
.main-social-item:hover .main-social-item__back {
  animation: 2s linear infinite rotate;
}
.last-content-left__slider .owl-dots button {
  width: 12px;
  transform: rotate(45deg);
  height: 12px;
  background: #657089;
  transition: 0.25s;
}
.last-content-left__slider .btn-transp__back img,
.main-bottom-step-item-list__item .btn-transp__back img {
  width: 220px;
}
.last-content-left__slider .owl-dots button:hover {
  transform: rotate(140deg) scale(1.2);
}
.last-content-slider__item .last-content-slider-item__img,
.owl-stage-outer {
  overflow: hidden;
}
.last-content-slider .owl-nav button:hover,
.last-content-slider__item:hover .last-content-slider-item__img img {
  transform: scale(1.1);
}
.last-content-left__slider .owl-dots button.active:hover {
  transform: rotate(45deg) scale(1);
  cursor: default;
}
.last-content-left__slider .btn-transp {
  width: fit-content;
  margin-top: 30px;
}
.last-content-left-slider__title {
  color: #dad0a4;
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 35px;
}
.last-content-left-slider__text {
  color: #cccdcf;
  font-size: 18px;
  line-height: 30px;
}
.last-content-left-slider__wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
}
.server-content-left::before {
  content: "";
  width: 1px;
  height: 300%;
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.13);
}
.last-content-left {
  width: 750px;
}
.server-content-right {
  padding: 40px 30px 40px 0;
}
.server-content-left__dot {
  width: 27px;
  height: 27px;
  background: #e0c397;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg) translate(-73%, -4%);
}
.server-content-left::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.13);
}
.server-content-right-item__top {
  margin-bottom: 20px;
  justify-content: space-between;
}
.server-content-right-item__list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 24px;
}
.server-content-right-item__text {
  color: #cbcbd2;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}
.rating-tabs-content-item__bottom--item:first-child {
  border-top: 2px solid #4a4c4e;
}
.rating-tabs-content-item__bottom--item {
  padding: 20px 0;
  border-bottom: 2px solid #4a4c4e;
}
.rtcit__item:nth-child(4) {
  width: 280px;
}
.rtcit__item:nth-child(5) {
  width: 200px;
}
.rtcit__item:nth-child(6) {
  margin-left: auto;
  padding-right: 40px;
}
.preview__btn {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview__btn:hover .preview-btn__text {
  letter-spacing: 1.2px;
  transform: scale(1.1);
}
.preview {
  padding: 450px 0 193px;
}
.last-content-slider__text {
  font-family: Intro;
  color: #a7a6bc;
  line-height: 24px;
  margin: 18px 0 20px;
}
.preview-btn__back img {
  filter: drop-shadow(0 0 10px #0096ff);
}
.preview-btn__text {
  font-size: 25px;
  color: #fff;
  position: absolute;
  transition: 0.5s;
  z-index: 1;
}
.header-center-nav__list li a.active,
.header-center-nav__list li a:hover,
.header-lang-dropdown__item:hover,
.header-lang__top:hover,
.preview__sub {
  color: #dad0a4;
}
.header-lang,
.header-lang-top__flag,
.last-content-slider__item,
.title-line {
  position: relative;
}
.preview__title {
  font-size: 46px;
  margin-bottom: 14px;
}
.preview__text {
  max-width: 684px;
  font-family: Intro;
  margin: 22px auto 60px;
  line-height: 24px;
}
.preview__sub {
  font-size: 30px;
  margin-bottom: 4px;
}
.last-content {
  overflow: hidden;
  display: flex;
  gap: 25px;
  justify-content: space-between;
}
.last-content-slider .owl-nav .owl-prev {
  width: 38px;
  background: url(../img/slider-last-left.png) center center/contain no-repeat;
  height: 38px;
  font-size: 0;
  flex: 0 0 auto;
  margin-right: 23px;
}
.last-content-slider .owl-nav .owl-next {
  width: 38px;
  background: url(../img/slider-last-right.png) center center/contain no-repeat;
  height: 38px;
  font-size: 0;
  flex: 0 0 auto;
}
.last-content-slider .owl-nav {
  display: block;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.last-content-slider .owl-nav::after,
.last-content-slider .owl-nav::before,
.title-line::after {
  height: 2px;
  display: block;
  background: #e0c397;
  content: "";
}
.last-content-slider .owl-nav::before {
  width: 420px;
  margin-right: 10px;
  flex: 0 0 auto;
}
.last-content-slider .owl-nav::after {
  width: -webkit-fill-available;
  margin-left: 10px;
}
.last-content-slider {
  width: 600px;
  display: flex;
  flex-direction: column-reverse;
}
.rating-tabs-top__list {
  display: flex;
  gap: 30px;
}
.rating-tabs-top {
  display: flex;
  justify-content: space-between;
}
.server-content,
.title-line {
  align-items: center;
  display: flex;
}
.title-line {
  font-size: 54px;
  line-height: 1;
  gap: 37px;
}
.title-line::after {
  width: 100%;
}
.header-lang-top__flag {
  width: 35px;
  height: 25px;
}
.header-lang-top__flag img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.server-content-left__item .server-content-left-item-text__link,
.server-content-left__item .server-content-left-item-text__title,
.server-content-left__item .server-content-left-item__img {
  opacity: 0.3;
  transition: 0.3s;
  filter: grayscale(1);
}
.server-content {
  background: url(../img/bg-list.jpg) center center/cover no-repeat;
  gap: 35px;
}
.server-content-left__item.active .server-content-left-item-text__link,
.server-content-left__item.active .server-content-left-item-text__title,
.server-content-left__item.active .server-content-left-item__img,
.server-content-left__item:hover .server-content-left-item-text__link,
.server-content-left__item:hover .server-content-left-item-text__title,
.server-content-left__item:hover .server-content-left-item__img {
  opacity: 1;
  filter: grayscale(0);
}
.header-lang__dropdown {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.server-content-left-item-text__link {
  font-family: Intro;
  color: #a5998e;
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
}
.header-lang__top {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 12px;
}
.header-lang-top__lang {
  font-size: 16px;
  line-height: 1;
}
.header-center-nav__list {
  display: flex;
  align-items: center;
  gap: 75px;
}
.header-center-nav__list li a {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  transition: 0.3s;
}
.last-content-slider .owl-nav button.disabled:hover {
  transform: scale(1);
  cursor: default;
}
.support-items__item:hover {
  filter: brightness(1.1);
}
.main-top-download .preview__btn .preview-btn__back img {
  filter: drop-shadow(0 0 13px #fff);
}
.main-top-download .preview__btn .preview-btn__text {
  color: #000;
}
.siic__text {
  font-size: 13px;
  color: #fff;
}
.main-bottom-step-item-list__item {
  align-items: center;
  display: flex;
  border-bottom: 2px solid #40424c;
  padding: 20px 5px 15px;
  gap: 40px;
}
.main-bottom-step-item-list__item:hover .mbsili__left::after {
  filter: brightness(1.3);
  animation: 7s linear infinite rotate;
}
.main-bottom-step-item-list__item:hover .mbsili__left img {
  filter: brightness(1.15);
  transform: scale(1.05);
}
.mbsili__left {
  width: 75px;
  height: 75px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.mbsili__left img {
  transition: 0.3s;
}
.mbsili__left::after {
  transition: 0.3s;
  content: "";
  background: url(../img/round-dotted.png) center center/contain no-repeat;
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
.main-bottom-step__item::before {
  content: "";
  width: calc(100% - 134px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #44495d;
  height: 2px;
  top: -1px;
}
.main-bottom-step__item::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: #e0c397;
  width: 28px;
  height: 28px;
  top: -14px;
}
.main-top-download__box {
  width: fit-content;
  margin-left: auto;
  margin-right: 95px;
}
.main-download .main-bottom,
.main-download .main-top {
  background: unset;
}
.main-download {
  background: url(../img/download-back.png) center center/cover no-repeat;
}
.main-top-download {
  padding-top: 20px;
  padding-bottom: 120px;
}
.main-top-download__logo {
  margin-bottom: 30px;
}
.main-bottom-step__wrapper {
  margin-bottom: 130px;
  display: flex;
  gap: 37px;
  justify-content: space-between;
}
.main-bottom-step-item__text {
  font-family: Intro;
  color: #7c7c87;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.main-bottom-step-item__title {
  color: #e0c397;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
.main-bottom-step-item__title span {
  color: #fff;
}
.main-bottom-step__item {
  position: relative;
  background: #282e45;
  padding: 42px;
  border-radius: 30px;
}
.main-bottom-step-item-list__item:last-child {
  border-bottom: 0;
}
.btn-transp:hover .btn-transp__text {
  letter-spacing: 0.5px;
  transform: scale(1.01);
}
.bonus-item:hover img,
.last-content-left-slider__item:hover .last-content-left-slider__back img,
.support-items__item:hover .support-items-item__back img,
.support-items__item:hover .support-items-item__content {
  transform: scale(1.1);
}
.btn-transp,
.preview__btn {
  position: relative;
  display: flex;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}
.last-content-left-slider__back img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.btn-transp:hover {
  filter: brightness(1.25);
  transform: scale(1.04);
}
.preview__btn:hover {
  filter: brightness(1.05);
  transform: scale(1.02);
}
.footer-developed {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-center,
.main-online-box__wrap {
  align-items: center;
  display: flex;
}
.btn-transp__text {
  position: absolute;
  font-weight: 700;
  transition: 0.3s;
  font-size: 15px;
  color: #fff;
}
.footer-developed-text__item {
  font-family: Gilroy;
  font-weight: 300;
  color: #dad9d8;
  line-height: 1.2;
  font-size: 12px;
}
.footer__copyrights,
.text {
  font-family: Intro;
}
.footer__wrapper {
  padding: 55px 0 65px 75px;
  border-top: 2px solid;
}
.support-items {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.header-top-logo-item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
  justify-content: center;
}
.header-top-logo-item-text__title {
  color: #007cff;
  font-size: 13px;
}
.sever-cotnent-left__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 0 0 auto;
}
.main-online {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 36px;
  top: 310px;
}
.round {
  transform: rotate(-90deg);
  transition: 1s ease-in-out;
  fill: none;
  stroke: #66944e;
  stroke-width: 4;
  stroke-dasharray: 0 999;
}
.point::after,
.point::before,
.point__mode {
  top: 50%;
  transform: translate(-50%, -50%);
}
.bonus-item:hover {
  filter: brightness(1.2);
}
.point {
  position: relative;
  width: 95px;
  height: 95px;
}
.point::after {
  content: "";
  border: 6px solid #24272b;
  width: 83px;
  z-index: -1;
  height: 83px;
  position: absolute;
  left: 50%;
  border-radius: 100px;
}
.point::before {
  content: "";
  border: 2px solid #9d8d80;
  width: 65px;
  z-index: -1;
  height: 65px;
  position: absolute;
  left: 50%;
  border-radius: 100px;
}
.btn-transp--stream:nth-child(2),
.last-btn-box.active .btn-transp--stream:first-child {
  visibility: hidden;
  transform: scale(1.2);
}
.btn-transp__back::after {
  background: url(../img/btn-back.gif) center center/cover no-repeat;
  top: 0;
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  transition: 0.3s;
  filter: brightness(1000%);
}
.main-online-box__wrap {
  width: 100%;
  position: absolute;
  left: 6px;
  gap: 20px;
}
.main-back-ob {
  width: 370px;
}
.main-online__logo {
  margin-bottom: -2px;
}
.main-online-box-right__server--name {
  font-size: 18px;
  color: #e4c884;
}
.main-online-box {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 100px;
  background-size: cover;
}
.main-countdown .btn-transp__back img,
.main-online .btn-transp__back img {
  width: 216px;
}
.main-online-box-right__server--boost {
  color: #fff;
  font-size: 25px;
  margin: 9px 0;
}
.main-online-box-right__server--online {
  color: #e4c884;
  font-size: 18px;
}
.main-online-box-right__server--online span {
  color: #e1ff19;
}
.point__mode {
  position: absolute;
  left: 50%;
  color: #ade88e;
  font-size: 20px;
}
.btn-transp--stream:nth-child(2) {
  position: absolute;
  opacity: 0;
}
.last-content-slider-stream .last-content-slider__item {
  padding-bottom: 0;
}
.last-content-slider-steam-play img,
.last-content-stream-btn img {
  width: 83px;
  position: absolute;
  top: 50%;
  opacity: 0.7;
  transition: 0.3s;
  left: 50%;
  transform: translate(-50%, -50%);
}
.last-content-slider-steam-play img {
  width: 60px;
}
.last-content-slider-steam-play:hover img,
.last-content-stream-btn:hover img {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}
.last-btn-box.active .btn-transp--stream:nth-child(2) {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.last-btn-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-transp.btn-transp--stream {
  border-radius: 0;
  overflow: visible;
}
.btn-transp.btn-transp--stream .btn-transp__back::after,
.header-burger,
.preview .main-online {
  display: none;
}
.btn-transp {
  border-radius: 100px;
  overflow: hidden;
}
.btn-transp:hover .btn-transp__back::after {
  opacity: 0.1;
  width: 100%;
  left: 0;
}
.support {
  padding: 195px 0;
}
.support-items__item {
  width: calc(50% - 25px);
  height: 136px;
  overflow: hidden;
  position: relative;
}
.support__wrapper {
  margin-bottom: 40px;
}
.bonus__wrapper {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  gap: 20px;
}
.bonus-item {
  background: #182134;
  border: 1px solid #363332;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.support-items-item__content {
  position: relative;
  width: 100%;
  transition: 0.3s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 11px;
}
.footer-developed {
  transition: 250ms;
  opacity: 0.5;
}
.footer-developed:hover {
  opacity: 1;
}
.server-content-left-item__online {
  display: none;
}
footer .main-social {
  display: none;
}
.support-items__item .support-items-item__back img {
  transition: 250ms;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}
.footer__wrapper {
  justify-content: space-between;
  align-items: center;
}
.pre-title {
  color: #ffebb6;
  font-size: 26px;
  line-height: 38px;
}
.title {
  font-size: 54px;
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 20px;
}
.point svg {
  width: 95px;
  height: 95px;
}
.text {
  font-size: 16px;
  color: #cbcbd2;
  line-height: 24px;
  max-width: 800px;
  margin: 0 auto;
}
.support-items {
  margin-top: 80px;
}
.btn-transp-rating {
  display: none;
}
.rating-tabs-top .btn-transp-rating {
  display: flex;
}
@media screen and (max-width: 2050px) {
  .main-countdown {
    left: 75px;
  }
}
@media screen and (max-width: 1920px) {
  .main-social {
    left: 30px;
  }
  .main-countdown {
    left: 120px;
    background: #10223e78;
    padding: 20px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1600px) {
  .header-center-nav__list {
    gap: 65px;
  }
  .main-social {
    top: 250px;
  }
  .main-countdown {
    top: 240px;
  }
  .header-aside {
    gap: 20px;
  }
  .gw-timer__item {
    backdrop-filter: blur(15px);
    border-radius: 100px;
    width: 90px;
    height: 90px;
  }
  .main-countdown__text {
    font-size: 17px;
    gap: 35px;
  }
  .gw-timer__amount {
    font-size: 30px;
  }
  .gw-timer__desc {
    font-size: 13px;
  }
  .main-social {
    gap: 25px;
  }
  .main-social-item__back img {
    width: 45px;
    height: 45px;
  }
  .main-social-item__icon img {
    width: 90%;
  }
  .preview-btn__back img {
    max-width: 400px;
  }
  .preview__text {
    margin-bottom: 45px;
  }
  .last-content-left-slider__title {
    font-size: 41px;
  }
  .last-content-left {
    width: 53%;
  }
  .support {
    padding: 142px 0;
  }
  .server {
    padding-bottom: 140px;
  }
  .main-online__logo img {
    max-width: 95px;
  }
  .main-back-ob {
    width: 340px;
  }
  .main-online-box__wrap {
    gap: 10px;
  }
  .main-online-box-right__server--name,
  .main-online-box-right__server--online {
    font-size: 17px;
  }
  .main-online-box-right__server--boost {
    font-size: 23px;
    margin: 7px 0;
  }
  .main-countdown .btn-transp__back img,
  .main-online .btn-transp__back img {
    width: 190px;
  }
  .main-download .main-social {
    top: 175px;
  }
}
@media screen and (max-width: 1500px) {
  .main-top-download__logo img {
    max-width: 590px;
  }
  .main-bottom-step__item {
    padding: 30px;
  }
  .main-bottom-step__wrapper {
    gap: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .main-online .btn-transp,
  .preview .main-online {
    width: fit-content;
    margin: 0 auto;
  }
  .header-center-nav__list {
    gap: 50px;
    gap: 32px;
  }
  header .main-online {
    display: none;
  }
  .main-online-box__wrap {
    left: 47%;
    transform: translateX(-50%);
    width: fit-content;
  }
  .main-online__logo img {
    margin-bottom: -2px;
    position: absolute;
    opacity: 0.3;
    max-width: 92px;
  }
  .header-logo {
    flex: 0 0 auto;
  }
  .main-countdown {
    background: 0 0;
    padding: 0;
    display: none;
  }
  .header-logo img {
    max-width: 45px;
  }
  .main-top-download__logo img {
    max-width: 500px;
  }
  .main-top-download__box .preview-btn__back img {
    max-width: 330px;
  }
  .main-top-download__box .preview-btn__text {
    font-size: 21px;
  }
  .header-lang-top__flag {
    width: 30px;
    height: 20px;
  }
  .preview .main-online {
    position: static;
    display: block;
  }
  .preview .main-countdown {
    display: flex;
    position: static;
  }
  .preview__btn {
    margin-top: 40px;
  }
  .main-social {
    top: 200px;
  }
  .header-center-nav__list li a,
  .main-bottom-step-item__text {
    font-size: 14px;
  }
  .btn-transp-rating .btn-transp__back img,
  header .btn-transp__back img {
    width: 190px;
  }
  .last-content-left__slider .btn-transp__back img,
  .server-content-right-item__top .btn-transp__back img {
    width: 200px;
  }
  .preview__sub {
    font-size: 28px;
  }
  .last-content-left {
    width: 49%;
  }
  .preview__wrapper {
    backdrop-filter: blur(3px);
    background: rgb(0 0 0 / 40%);
    padding: 40px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 20px;
  }
  .subtitle__last {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .last .last__title .btn-transp__back img {
    width: 210px;
  }
  .last__title {
    margin-bottom: 50px;
  }
  .last-content-left-slider__wrapper {
    padding: 30px;
  }
  .last-content-left-slider__title {
    font-size: 37px;
    margin-bottom: 24px;
  }
  .title-line {
    gap: 30px;
    font-size: 42px;
  }
  .last-content-slider__item {
    width: 230px;
  }
  .scrit__title {
    font-size: 30px;
  }
  .last-content-slider {
    width: 560px;
  }
  .last-content-left-slider__text {
    font-size: 17px;
    line-height: 28px;
  }
  .footer__wrapper {
    padding: 45px 0 55px 65px;
  }
  .support {
    padding: 160px 0;
  }
  .pre-title {
    font-size: 24px;
  }
  .title {
    font-size: 47px;
  }
  .support-items {
    margin-top: 65px;
    gap: 30px;
  }
  .support-items__item {
    height: 130px;
  }
  .siic__logo img {
    max-width: 90%;
  }
  .btn-transp-rating {
    font-size: 13px;
  }
  .rating-tabs-content-item__top {
    padding: 45px 0;
  }
  .server__wrapper {
    padding-bottom: 0;
  }
  .rtcit__item {
    font-size: 19px;
  }
  .rating-tabs-content-item__bottom--item {
    padding: 18px 0;
  }
  .siic__logo {
    display: flex;
    justify-content: center;
  }
  .main-bottom-step-item-list__item,
  .rating-tabs-top__list {
    gap: 20px;
  }
  .btn-transp__back img {
    width: 160px;
  }
  .preview {
    padding: 350px 0 120px;
  }
  .server-content-left {
    width: 620px;
  }
  .server-content-right-item__list {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .main-bottom-step-item__title {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .mbsili__left img {
    width: 50px;
  }
  .mbsili__left {
    width: 69px;
    height: 69px;
  }
  .main-bottom-step__wrapper {
    gap: 20px;
    margin-bottom: 90px;
  }
  .main-bottom-step-item-list__item .btn-transp__back img {
    width: 204px;
  }
  .main-download .main-social {
    top: 145px;
  }
  .main-bottom-step__item {
    padding: 35px 25px 25px;
  }
  .main-top-download {
    padding-bottom: 90px;
  }
  .main-top-download__logo {
    margin-bottom: 20px;
  }
  .main-bottom-step__item::after {
    width: 20px;
    height: 20px;
    top: -10px;
  }
}
@media screen and (max-width: 1200px) {
  .header-burger,
  .last-content,
  .server-content {
    flex-direction: column;
  }
  .header-burger {
    display: flex;
    width: 30px;
    cursor: pointer;
    height: 21px;
    justify-content: space-between;
  }
  .main-top-download__box {
    margin: 0 auto;
  }
  .main-bottom-step__wrapper {
    flex-wrap: wrap;
    row-gap: 35px;
    margin-bottom: 70px;
  }
  .header__wrapper {
    align-items: center;
    gap: 0;
  }
  .main-bottom-step-item-list__item {
    justify-content: center;
    gap: 30px;
  }
  .main-bottom-step-item-list__item .btn-transp__back img {
    width: 220px;
  }
  .main-top-download {
    padding-bottom: 70px;
  }
  .main-bottom-step__item {
    width: calc(50% - 15px);
  }
  .header-burger span {
    width: 100%;
    height: 2px;
    background: #fff;
    position: relative;
    transition: 0.3s;
  }
  .header-burger.active span:first-child {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active span:nth-child(2) {
    opacity: 0;
  }
  .main-online-box-right__server--name,
  .main-online-box-right__server--online {
    font-size: 16px;
  }
  .main-online-box-right__server--boost {
    font-size: 21px;
  }
  .preview .main-online {
    position: relative;
    top: unset;
    left: unset;
    right: 0;
  }
  .main-online-box__wrap {
    left: 2px;
    transform: unset;
    width: 100%;
  }
  .header-burger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: -9px;
  }
  header.active .header-mobile,
  header.active .header__back {
    opacity: 1;
    visibility: visible;
  }
  .main-social {
    display: none;
  }
  footer .main-social {
    flex-direction: row;
    position: static;
    display: flex;
  }
  .header {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    position: relative;
  }
  header .container {
    position: relative;
    z-index: 2;
  }
  .header-mobile,
  .header__back {
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
  }
  .header-mobile {
    position: absolute;
    z-index: 1;
    left: 30px;
    top: calc(100% + 10px);
    display: flex;
    justify-content: space-between;
    width: calc(100% - 60px);
  }
  .header__back {
    display: block;
  }
  .header-center,
  .header-right {
    position: relative;
    z-index: 1;
  }
  .preview {
    padding: 250px 0 110px;
  }
  .preview__sub {
    font-size: 26px;
  }
  .preview__title {
    font-size: 42px;
  }
  .preview__text,
  .server-content-right-item__top {
    margin-bottom: 35px;
  }
  .preview-btn__back img {
    max-width: 361px;
  }
  .preview-btn__text {
    font-size: 23px;
  }
  .title-line {
    font-size: 36px;
  }
  .last-content-left {
    width: 100%;
  }
  .last-content-left-slider__item,
  .last-content-left__slider {
    height: 360px;
  }
  .last-content-left-slider__back img {
    object-position: top;
  }
  .last-content-left-slider__title {
    font-size: 34px;
    margin-bottom: 20px;
  }
  .last-content-left-slider__text {
    font-size: 16px;
    line-height: 27px;
    max-width: 600px;
  }
  .sever-cotnent-left__list {
    border-bottom: 2px solid rgba(255, 255, 255, 0.13);
  }
  .title {
    font-size: 41px;
  }
  .support-items__item {
    height: 125px;
  }
  .siic__logo img {
    max-width: 85%;
  }
  .footer__wrapper {
    padding: 35px 0;
  }
  .server-content-right {
    padding: 0 30px 30px;
  }
  .rating-tabs-top {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 26px;
    flex-wrap: wrap;
  }
  .bonus__wrapper,
  .rating-tabs-top__list {
    flex-wrap: wrap;
  }
  .support {
    padding: 120px 0;
  }
  .rtcit__item {
    font-size: 17px;
  }
  .server {
    padding-bottom: 100px;
  }
  .last-content-slider {
    width: 100%;
    margin-top: 30px;
  }
  .server-content-left::before {
    height: 100%;
    top: 0;
  }
  .server-content-left {
    width: 100%;
    height: fit-content;
    position: relative;
  }
  .last-content-slider__item {
    width: 90%;
  }
  .last-content-slider .owl-nav::before {
    width: 85%;
  }
  .server__wrapper {
    padding-bottom: 0;
  }
  .support-items {
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 30px;
  }
  .bonus-item {
    width: 23%;
  }
  .support-items__item {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 992px) {
  .header-center-nav__list {
    flex-wrap: wrap;
  }
  .header-mobile {
    gap: 20px;
  }
  .header-aside {
    position: relative;
    z-index: 3;
  }
  .bonus-item {
    width: 22%;
  }
  .main-bottom-step__item {
    width: 100%;
  }
  .main-bottom-step-item__text {
    max-width: 80%;
    margin: 0 auto 15px;
  }
  .main-top-download__logo img {
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .header-mobile,
  .support-items {
    flex-direction: column;
  }
  .last-btn-box {
    margin-left: 0;
  }
  .bonus-item {
    width: 48%;
  }

  .header-center-nav__list {
    justify-content: center;
    margin-bottom: 20px;
  }
  .preview {
    padding: 150px 0 100px;
  }
  .preview__title {
    font-size: 36px;
  }
  .preview__sub {
    font-size: 23px;
  }
  .preview__wrapper {
    background: transparent;
    backdrop-filter: unset;
  }
  .preview-btn__back img {
    max-width: 342px;
  }
  .last .last__title {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .header-right {
    justify-content: center;
  }
  .title-line {
    font-size: 31px;
  }
  .subtitle__last {
    font-size: 17px;
  }
  .last .last__title .btn-transp {
    margin-left: auto;
  }
  .last-content-left-slider__title {
    font-size: 30px;
    margin-bottom: 16px;
    text-align: center;
  }
  .last-content-left-slider__text {
    text-align: center;
  }
  .last-content-left-slider__wrapper {
    padding-bottom: 70px;
  }
  .last-content-left__slider .owl-dots {
    bottom: 24px;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
  }
  .last-content-left__slider .btn-transp {
    margin: 20px auto 0;
  }
  .scrit__title {
    font-size: 26px;
  }
  .rating-tabs-top__list {
    flex-wrap: wrap;
  }
  .btn-transp {
    margin: unset;
  }
  .rating-tabs-top {
    align-items: flex-start;
  }
  .support-items__item {
    width: 100%;
  }
  .footer__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .title {
    font-size: 34px;
  }
  .server {
    padding-bottom: 80px;
  }
  .last-content-slider .owl-nav::before {
    width: 70%;
  }
  .last-content-slider__item {
    width: 80%;
  }
  .main-online {
    margin-bottom: 20px;
  }
  .main-top-download__logo img {
    max-width: 320px;
    width: 100%;
  }
  .rating-tabs-top__list {
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    padding-bottom: 15px;
  }
  .rating-tabs-top-list-item {
    flex: 0 0 auto;
  } /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #515e8d;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f4d398;
    border-radius: 10px;
  }
  .rating-tabs-top .btn-transp-rating {
    display: none;
  }
  .btn-transp-rating {
    width: fit-content;
    margin: 30px auto 0;
  }
  .preview .main-countdown,
  .main-online-box,
  .preview .main-online {
    display: none;
  }
  .rating {
    padding-top: 100px;
  }
  .btn-transp__back img {
    width: 145px;
  }
  .main-top {
    background: url(../img/768-back.png) top center / cover no-repeat;
  }
  .main {
    max-width: 900px;
  }
  .preview__wrapper {
    margin-top: 30px;
  }
  .btn-transp-rating {
    display: flex;
  }
  .rating-tabs-top .btn-transp-rating {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .bonus-item,
  .btn-transp-rating .btn-transp__back img,
  .btn-transp__back img,
  .countdown,
  .gw-timer,
  .main-countdown__box,
  .server-content-left__item {
    width: 100%;
  }
  .last .title-line,
  .server-content-right-item__text,
  .subtitle__last,
  .title-line {
    text-align: center;
  }
  .preview__wrapper {
    padding: 30px;
  }
  .last-content-slider .owl-nav::after,
  .last-content-slider .owl-nav::before,
  .last-content-slider::after,
  .last-content-slider::before,
  .main-countdown__text img,
  .server-content-left::after,
  .server-content-left::before,
  .server-content-left__dot,
  .title-line::after {
    display: none;
  }
  .preview__sub {
    font-size: 19px;
  }
  .preview__title {
    font-size: 28px;
  }
  .preview {
    padding: 100px 0 60px;
  }
  .main-bottom-step-item-list__item {
    gap: 20px;
    justify-content: space-between;
  }
  .main-bottom-step__item {
    padding: 35px 15px 15px;
  }
  .preview-btn__back img {
    max-width: 276px;
    width: 100%;
  }
  .gw-timer__item {
    justify-content: center;
    display: flex;
    backdrop-filter: unset;
    flex: 0 0 auto;
  }
  .gw-timer {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 30px;
  }
  .subtitle__last {
    font-size: 16px;
  }
  .last .last__title .btn-transp,
  .last-btn-box,
  .preview__btn,
  .server .btn-transp {
    margin: 0 auto;
  }
  .sever-cotnent-left__list {
    flex-direction: column;
  }
  .server-content-right-item__top {
    flex-direction: column;
    gap: 20px;
  }
  .main-countdown__text {
    text-align: center;
    line-height: 1.3;
  }
  .last-content-slider {
    flex-direction: column;
    gap: 0;
  }
  .rating-tabs-top__list {
    gap: 0;
    justify-content: space-between;
    row-gap: 20px;
  }
  .btn-transp.btn-transp-rating {
    width: 50%;
  }
  .rtcit__item:first-child {
    padding-left: 20px;
  }
  .rtcit__item {
    font-size: 14px;
  }
  .support {
    padding: 76px 0;
  }
  .support-items__item {
    height: 120px;
  }
  .siic__logo img {
    max-width: 72%;
  }
  .last-content-left-slider__item,
  .last-content-left__slider,
  .last-content-slider-item__img,
  .last-content-slider__item,
  .support-items__item {
    border-radius: 10px;
    overflow: hidden;
  }
  .last-content-left-slider__title {
    font-size: 27px;
  }
  .rtcit__item:nth-child(6) {
    padding-right: 20px;
  }
  .container {
    padding: 0 15px;
  }
  .rating-tabs-top__list .btn-transp {
    width: 48%;
  }
  .last-content-slider .owl-nav .owl-prev {
    margin: 0;
  }
  .title-line {
    margin: 0 auto 40px;
    width: fit-content;
  }
  .last .title-line {
    font-size: 28px;
    margin: 0 auto;
    width: fit-content;
  }
  .server-content-right-item__list {
    justify-content: flex-start;
  }
  .last-content-slider .owl-nav {
    gap: 50px;
    margin-top: 20px;
    justify-content: center;
  }
  .gw-timer__item {
    padding: 0 10px;
    background: 0 0;
    width: fit-content;
    height: fit-content;
  }
  .server-content-right-item__list {
    justify-content: space-between;
  }
  .main-online {
    margin-bottom: 20px;
  }
  .preview .main-online {
    margin-bottom: 30px;
  }
  .preview__text {
    line-height: 20px;
  }
}
@media screen and (max-width: 460px) {
  .preview__wrapper {
    padding: 20px 8px;
  }
  .preview__title {
    font-size: 25px;
    margin-bottom: 0;
  }
  .preview__text {
    margin: 15px auto 15px;
  }
  .gw-timer__amount {
    font-size: 26px;
  }
  .gw-timer__desc {
    font-size: 12px;
  }
  .gw-timer {
    gap: 15px;
  }
  .main-back-ob {
    display: none;
  }
  .main-online-box__wrap {
    position: static;
  }
}
